[submodule "robot-prog"]
	path = robot-prog
	url = https://github.com/LudovaTech/robot-prog
[submodule "robot-code"]
	path = robot-code
	url = https://github.com/RemyMagnon/robot-code
[submodule "camera-code"]
	path = camera-code
	url = https://github.com/RemyMagnon/camera-code
